.capital-image-wrapper {
  text-align: center;
  width: 100%;
}

.capital-image {
  width: clamp(150px, 40%, 750px);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.capital-image-wrapper p {
  font-weight: 650;
  margin-top: 0.5rem;
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  color: var(--text-col);
}
