.main-content {
  width: 100%;
  margin-left: calc(var(--sidebar-open));
  transition: var(--sidebar-transition);
  background-color: var(--bg-col);
}

.main-content.closed {
  margin-left: calc(var(--sidebar-closed));
}

.display-area {
  position: relative;
  margin-top: 50px;
  background-color: var(--bg-col);
}
