.main-content {
  width: 100%;
  margin-left: calc(var(--sidebar-open));
  transition: all var(--sidebar-time) var(--sidebar-mode);
}

.main-content.closed {
  margin-left: calc(var(--sidebar-closed));
}

.display-area {
  position: relative;
  margin-top: 50px;
  padding-top: var(--radius);
}
