.results-container {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;

  padding: var(--radius);

  border: 1px solid #ccc;
  background-color: var(--sidebar-bg-color);
}

.results-container p {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: var(--icons-color);
}
