.card-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: calc(var(--radius) * 2);
  margin: var(--radius);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card-container.selected {
  background-color: #ccc;
}
.card-container.selected .flag {
  transform: scale(1.1);
}
.card-container.closed.selected {
  background-color: transparent;
}
.card-container.closed.selected .flag {
  transform: scale(1);
}
.card-container.closed {
  margin: 10px 0;
  padding: 0;
  justify-content: space-around;
}
.card-container.closed .flag {
  width: calc(var(--sidebar-closed) - 8px);
}
.card-container.closed .description {
  display: none;
  padding: 0;
  margin: 0;
}
.card-container.closed:hover {
  background-color: transparent;
}
.card-container:hover {
  background-color: var(--hover-col);
}
.card-container:active {
  background-color: white;
  transform: scale(0.95);
}
.card-container:hover .flag {
  transform: scale(1.1);
}

.favoriting {
  padding: 0.75rem;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}
.card-container.closed .favoriting{
  display: none;
}
.favoriting i.yellow {
  color: gold;
}

.flag {
  width: 40px;
  height: 30px;
  padding: 1px;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: all 0.4s ease;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p:first-child {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  color: var(--text-col);
}

.description p:last-child {
  font-size: 0.75rem;
  font-weight: 650;
  max-width: 112px;
  color: var(--text-col2);
  margin: 2px 0 0 0;
}
