.search-results-wrapper {
  position: relative;
}
.search-results-wrapper .search-results {
  transform: translateX(-50%);
  position: fixed;
  width: 50vw;
  max-height: 45vh;
  overflow: scroll;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  padding: var(--radius);
}
.search-results-wrapper .search-results::-webkit-scrollbar {
  display: none;
}

.search-results .results {
  width: 100%;
  padding: var(--radius);
  display: flex;
}
