.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.map{
  width: 85%;
  height: 90%;
  border-radius: calc(var(--radius) * 1.5);
  box-shadow: var(--shadow-default);
}
