.toggle-btn {
  width: 2rem;
  height: 2rem;

  padding: 3px;
  margin: var(--radius) 0 0 var(--radius);

  align-self: flex-start;
  border: none;
  border-radius: var(--radius);
  background: transparent;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.05s ease-in-out, box-shadow 0.3s ease-in-out;
}
.toggle-btn i{
  color: var(--active-color);
  transform: scale(1.3);
  transition: color 0.3s ease-in-out;
}
.toggle-btn:hover{
  box-shadow: var(--shadow-default);
  color: var(--active-color);
}
.toggle-btn:hover i{
  color: var(--icons-color);
}
.toggle-btn:active{
  transform: scale(0.85);
}

.toggle-btn.off{
  align-self: auto;
  margin: var(--radius) 0 0 0;
}
.toggle-btn.off i{
  color: var(--icons-color);
}
.toggle-btn.off:hover i{
  color: var(--active-color)
}