.search-wrapper {
  width: calc(100% - 2px); /* 2px for border*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--radius) 0;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--bg-col);
  transition: box-shadow 0.5s ease-in-out;
}
.search-wrapper:focus-within {
  box-shadow: var(--shadow-default);
  border-color: var(--active-col);
}
.search-wrapper:focus-within .search-icon {
  color: var(--active-col);
  transform: rotateY(180deg);
}

.search-icon {
  padding: 0 var(--radius);
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.search-input {
  border: none;
  outline: none;
  font-size: 0.95rem;
  background-color: transparent;
  width: 70%;
  color: var(--text-col);
}
