.search-wrapper {
  display: flex;
  align-items: center;

  padding: 5px;

  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--sidebar-bg-color);
  transition: all 0.3s ease-in-out;
}
.search-wrapper:focus-within {
  box-shadow: var(--shadow-default);
}
.search-wrapper:focus-within .search-icon{
  transform: rotateY(180deg);
}
.search-wrapper.closed {
  border: none;
}
.search-wrapper.closed .search-input {
  display: none;
}

.search-icon {
  color: #999;
  padding: 0 var(--radius);

  transition: all 0.5s ease-in-out;
}
.search-icon.closed {
  color: #999;
  padding: 0;
  transform: scale(1.1);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.95rem;
  background-color: transparent;
}
