.search-results-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}
.search-results-wrapper .search-results {
  position: absolute;
  width: calc(100% - var(--radius)*2 - 2px);
  max-height: 45vh;
  overflow: scroll;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  padding: var(--radius);
}
.search-results-wrapper .search-results::-webkit-scrollbar {
  display: none;
}

.search-results .results {
  width: 100%;
  padding: var(--radius);
  display: flex;
}
