.search-results-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}
.search-results-wrapper .search-results {
  position: absolute;
  width: calc(100% - var(--radius) * 2);
  max-height: 45vh;
  overflow: scroll;
  background-color: var(--bg-col);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: var(--radius);

  background-color: var(--bg-col);
}
.search-results-wrapper .search-results::-webkit-scrollbar {
  display: none;
}

.search-results .results {
  width: 100%;
  padding: var(--radius);
  display: flex;
}
