.container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  margin: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.container.closed {
  margin: 10px 0;
  padding: 0;
  justify-content: space-around;
}
.container.closed .flag {
  width: calc(var(--sidebar-closed) - 8px);
}
.container.closed .description {
  display: none;
  padding: 0;
  margin: 0;
}
.container.closed:hover{
  background-color: transparent;
}
.container:hover {
  background-color: lightgray;
}
.container:active {
  background-color: white;
  transform: scale(0.95);
}
.container:hover .flag {
  transform: scale(1.1);
}

.flag {
  width: 40px;
  height: 30px;
  padding: 1px;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--shadow-base) 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p:first-child {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  color: var(--text-col);
}

.description p:last-child {
  font-size: 0.8rem;
  font-weight: 650;
  color: var(--gray);
  margin: 2px 0 0 0;
}
