.filter-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--radius);
  max-height: 40vh;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  background-color: var(--sidebar-bg-color);
  padding: var(--radius);
}
