.select-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - var(--radius) * 6);
  overflow-x: visible;

  padding: var(--radius);

  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--sidebar-bg-color);
  transition: box-shadow 0.5s ease-in-out;
}
.select-wrapper.options-open {
  border-color: var(--active-color);
  box-shadow: var(--shadow-default);
}
.select-wrapper.options-open .sort-icon {
  color: var(--active-color);
  transform: rotate(-180deg);
}
.select-wrapper.closed {
  border: none;
  width: 100%;
  justify-content: center;
}
.select-wrapper.closed .select-container {
  display: flex;
  justify-content: center;
}
.select-wrapper.closed .select-container p {
  display: none;
}
.select-wrapper.closed i {
  cursor: auto;
}

.symbols {
  display: flex;
  padding: var(--radius);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.symbols i {
  color: black;
  transform: scale(1.2);
}

.select-container {
  display: flex;
  align-items: center;
  width: 83%;
  cursor: pointer;
}
.select-container p {
  padding-left: var(--radius);
  color: #767676;
}

.sort-icon {
  padding: 0 var(--radius);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sort-wrapper {
  position: relative;
  left: -90%;
  top: 20px;
}

.sort-container {
  z-index: 9999;
  position: fixed;
  max-height: 50vh;
  overflow: scroll;
  padding: 0 var(--radius);

  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow-base) var(--shadow-size) rgba(0, 0, 0, 0.4);
}
.sort-container::-webkit-scrollbar{
  display: none;
}

.sort-method{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--radius) 0;
  background-color: white;
  position: sticky;
  top: 0;
}

.sort-option {
  padding: 5px;
  margin: var(--radius) 0;
  text-align: center;
  border-radius: var(--radius);
  color: var(--icons-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sort-option i {
  padding: 0 2px;
}

.sort-option:hover {
  background-color: #f0f0f0;
  color: black;
}

.sort-option.active {
  background-color: var(--active-color);
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.sort-option.active i {
  color: black;
}
