.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-image {
  width: clamp(3rem, 20vw, 16rem);
  height: clamp(3rem, 20vw, 16rem);
  aspect-ratio: 1 / 1;
  margin: 1rem;
  padding: 5px;

  transition: transform 0.3s ease-in-out;

  cursor: pointer;
}
.app-image:hover {
  transform: scale(1.03);
}
.app-image:active {
  transform: scale(0.85);
}

.intro section {
  padding: 0 calc(var(--radius) * 5);
}

.app-desc {
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  font-weight: 600;
  padding-bottom: 0.4rem;
}
