.compare-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected-options {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: var(--radius);
  margin: 1rem 0;
}

.filtered-options {
  display: flex;
  align-items: center;
  gap: var(--radius);
  padding: var(--radius);
  margin-bottom: var(--radius);
  border-radius: var(--radius);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.filtered-options.comparing {
  background-color: #ccc;
}
.filtered-options img {
  width: 3rem;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--radius);
  box-shadow: var(--shadow-base) 10px rgba(0, 0, 0, 0.4);
}
.filtered-options p {
  font-size: 1.1rem;
  font-weight: 650;
}
.filtered-options:hover {
  background-color: #ccc;
}

.being-compared {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--radius);
}
