.menu-wrapper {
  position: relative;
  width: calc(100% - 2px); /* 2px for border*/
  display: flex;
  align-items: center;
  justify-content: left;
  padding: var(--radius) 0;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--bg-col);
}

.menu-wrapper i {
  padding: calc(var(--radius) * 1.5);
  transition: all 0.3s ease-in-out;
}

.interactive {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.interactive .text {
  font-size: 0.8rem;
  font-weight: 500;
  color: #888;
}

.interactive:hover i {
  color: var(--active-col);
}

.opt-wrapper {
  z-index: 100;
  position: absolute;
  top: 90%;
  left: 1.5rem;
}
