.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--main-margin);
  padding-bottom: var(--main-margin);
}

.info-grid {
  max-width: 85%;
  display: grid;
  margin-top: 2rem;
  gap: var(--radius);
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
}
