.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title{
  font-size: 3rem;
  font-weight: 750;
}

.app-image{
  width: 20%;
  height: 20%;
  margin: 2rem;
  padding: 1.5rem;

  border-radius: var(--radius);
  box-shadow: var(--shadow-default);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.app-image:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.app-desc{
  font-weight: 600;
}