.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title{
  font-size: clamp(0.5rem, 8vw, 4rem);
  font-weight: 750;
}

.app-image{
  width: clamp(3rem, 20vw, 16rem);
  height: clamp(3rem, 20vw, 16rem);
  aspect-ratio: 1 / 1;
  margin: 1rem;
  padding: 5px;
}

.app-desc{
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  font-weight: 600;
  padding-bottom: 0.25rem;
}