:root {
  --sidebar-open: 240px;
  --sidebar-closed: calc(var(--sidebar-open) / 6);
  --sidebar-transition: all 0.6s ease-in-out;

  --l-gray: #e3e3e3;

  --radius: 5px;
  --text-col: black;
  --text-col2: #4d4d4d;
  --active-col: #00a0ff;
  --icons-color: #767676;

  --border: 1px solid rgba(0, 0, 0, 0.2);
  --shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  --hover-col: #d3d3d3;
  --bg-col: #fafafa;

  /* Checkbox */
  --switch-width: 40px;
  --switch-height: 20px;
  --knob-size: 20px;
  --knob-radius: 100%;
  --track-color: #666;
  --track-checked-color: #ddd;
  --knob-color: white;
  --shadow-color: rgba(154, 153, 153, 0.5);
  --active-shadow: rgba(79, 46, 220, 0.2);
  --transition-speed: 0.1s;
  --transition-curve: cubic-bezier(0.8, 0.4, 0.3, 1.25);
}

body.dark {
  --l-gray: #3d3d3d;
  --bg-col: #0b0e14;
  --text-col: #f1f1f1;
  --text-col2: #aaaaaa;
  --icons-color: #bbbbbb;
  --hover-col: #333333;
  --border: 1px solid rgba(255, 255, 255, 0.2);
  --shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  --active-col: #00aaff;

  /* Checkbox */
  --track-color: #999;
  --track-checked-color: #444;
  --knob-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --active-shadow: rgba(0, 153, 255, 0.2);
}

i {
  color: var(--icons-color);
}

.close-icon {
  transform: scale(1.75);
  transition: color 0.3s ease-in-out;
}
button:hover .close-icon {
  color: red;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.menu-child-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--radius);
  max-height: 40vh;
  overflow-y: auto;
  border: var(--border);
  border-radius: var(--radius);
  background-color: var(--bg-col);
  box-shadow: var(--shadow);
  padding: var(--radius);
}

ul {
  list-style-type: none;
}
