.header-container {
  z-index: 1;
  position: fixed;
  width: calc(100% - var(--sidebar-closed) - var(--radius) * 2);
  padding: var(--radius);
  display: flex;
  align-items: center;
  gap: var(--radius);

  background-color: var(--bg-col);
  box-shadow: var(--shadow);
  transition: var(--sidebar-transition);
}
.header-container.closed {
  width: calc(100% - var(--sidebar-open) - var(--radius) * 2);
}
.header-container img {
  width: 1.5rem;
  height: 1.5rem;
}
.header-container p {
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  font-weight: 750;
  color: var(--text-col);
}

.opt-btns {
  display: flex;
  gap: var(--radius);
  margin-left: auto;
  overflow-y: scroll;
}

.opt-btns::-webkit-scrollbar {
  display: none;
}
