/* Leaflet popup overrides */
.leaflet-popup-content {
  margin: 15px clamp(20px, 6vw, 50px);
}
.leaflet-popup-content p {
  margin: 0;
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--radius);
}

.popup-flag {
  width: 100%;
  max-width: clamp(75px, 5vw, 150px);
  height: auto;
  aspect-ratio: 4 / 3;
  border-radius: var(--radius);
  box-shadow: var(--shadow-base) 10px rgba(0, 0, 0, 0.5);
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.popup-flag:active {
  transform: scale(0.9);
}
.popup-flag:hover{
  box-shadow: var(--shadow-base) 10px var(--active-color);
}

.popup-title {
  text-align: center;
  font-size: calc(clamp(0.8rem, 3vw, 1.5rem) - 2px);
  font-weight: 800;
  color: var(--text-color);
  margin: 0 var(--radius);
}

.popup-subtitle {
  text-align: center;
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  font-weight: 600;
  color: var(--gray);
}
