.select-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - var(--radius) * 6);

  padding: var(--radius);

  border: 1px solid #ccc;
  border-radius: var(--radius);
  background-color: var(--sidebar-bg-color);
  transition: box-shadow 0.5s ease-in-out;
}
.select-wrapper:focus-within {
  box-shadow: var(--shadow-default);
  border-color: var(--active-color);
}
.select-wrapper:focus-within .sort-icon {
  color: var(--active-color);
  transform: rotate(-180deg);
}

.select-wrapper.closed {
  border: none;
  width: 100%;
  justify-content: center;
}
.select-wrapper.closed .sort-input{
  display: none;
}

.sort-input {
  width: 100%;

  border: none;
  outline: none;
  font-size: 0.95rem;
  background-color: transparent;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sort-icon {
  color: #999;
  padding: 0 var(--radius);

  transition: all 0.5s ease-in-out;
}
